appdirs
attrs
Automat
autopep8
bcrypt
blinker
certifi
cffi
charde
Click
cloud-init
colorama
command-not-found
configobj
constantly
coverage
cryptography
dbus-python
distlib
distro
distro-info
dnspython
docopt
email-validator
entrypoints
filelock
Flask
Flask-Bcrypt
Flask-Login
Flask-SQLAlchemy
Flask-Testing
Flask-WTF
gunicorn
httplib2
hyperlink
idna
importlib-metadata
incremental
iniconfig
itsdangerous
Jinja2
jsonpatch
jsonpointer
jsonschema
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
MarkupSafe
mock
more-itertools
netifaces
num2words
oauthlib
packaging
pexpect
pluggy
py
pyasn1
pyasn1-modules
pycodestyle
pycparser==2.20
PyGObject==3.36.0
PyHamcrest
PyJWT
pymacaroons
PyMySQL
PyNaCl
pyOpenSSL
pyparsing
pyrsistent
pyserial
pytest
pytest-cov
python-apt
python-debian
PyYAML
requests
requests-unixsocket
SecretStorage
selenium
service-identity
simplejson
six
sos
SQLAlchemy
ssh-import-id
systemd-python
toml
Twisted
ubuntu-advantage-tools
ufw
unattended-upgrades
urllib3
virtualenv
wadllib
Werkzeug==0.16.1
WTForms
zipp
zope.interface
