{% extends 'layout.html' %}
{% block content %}

<form class="form-group" method="POST" action=''>
    {{form.hidden_tag()}}
    {{form.user_name(class="form-control mt-2",placeholder="Username")}}
    {{form.email(class="form-control mt-2",placeholder="name@example.com")}}
    {{form.password(class="form-control mt-2", placeholder="Password")}}
    {{form.confirm_password(class="form-control mt-2", placeholder="Confirm Password")}}
    {{ form.submit(class="btn btn-outline-success btn-block mt-2") }}
    <a class="btn btn-outline-primary btn-block" href="{{url_for('login')}}">Back to login</a>

</form>
{% endblock content %}