{% extends 'layout.html' %}
{% block left_nav %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="btn btn-outline-success invisible" href="{{url_for('create_event')}}"><i
                class="far fa-calendar-plus"></i></a>
    </li>
</ul>
{% endblock left_nav %}
{% block right_nav %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="btn btn-outline-primary" href="{{url_for('update_user')}}"><i class="far fa-edit"></i></a>
    </li>
</ul>
{% endblock right_nav %}
{% block content %}
<h1>VIEW USER</h1>
{{account.user_name}}
{{account.email}}
{% endblock content %}