{% extends 'layout.html' %}
{% block left_nav %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="btn btn-outline-success invisible" href="{{url_for('create_event')}}"><i
                class="far fa-calendar-plus"></i></a>
    </li>
</ul>
{% endblock left_nav %}
{% block right_nav %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="btn btn-outline-primary" href="{{url_for('update_user')}}"><i class="fas fa-pencil-alt"></i></a>
    </li>
</ul>

{% endblock right_nav %}
{% block content %}

<div class="d-flex justify-content-center ">
    <div class="align-self-center flex-column">
        <h1 class="text-center">{{account.user_name}}</h1>
        <h3 class="text-center">{{account.email}}</h3>
    </div>

</div>
<div class="d-flex justify-content-center">
    <div class="align-self-center flex-column w-100">
        <a class="btn btn-outline-primary btn-block" href="{{url_for('logout')}}">Log out</a>
        <a type="button" class="btn btn-outline-danger btn-block" href="{{url_for('delete_account')}}">Delete
            Account</a>
    </div>
</div>
<!-- <div class="align-self-center">Aligned flex item</div> -->
<!-- <h1>{{account.user_name}}</h1>
    <br>
    {{account.email}}
    <a class=" btn btn-outline-warning" href="{{url_for('logout')}}"> Logout</a>
            <a class="btn btn-outline-danger" href="{{url_for('delete_account')}}">Delete Account</a> -->
</div>
{% endblock content %}