{% extends 'layout.html' %}
{% block left_nav %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="btn btn-outline-success invisible" href="{{url_for('create_event')}}"><i
                class="far fa-calendar-plus"></i></a>
    </li>
</ul>
{% endblock left_nav %}
{% block right_nav %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="btn btn-outline-primary" href="{{url_for('edit_event' , id=event.events.id)}}"><i
                class="fas fa-pencil-alt"></i></a>
    </li>
</ul>
{% endblock right_nav %}
{% block content %}
<div class="d-flex justify-content-center ">
    <div class="align-self-center flex-column">
        <h1 class="text-center">{{event.events.title}} on
            {{event.events.date.day}}/{{event.events.date.month}}/{{event.events.date.year}}</h1>
        <h4 class="text-center"> {{event.events.description}}</h4>
    </div>

</div>
<div class="d-flex justify-content-center">
    <div class="align-self-center flex-column w-100">
        <a class="btn btn-outline-danger btn-block" href="{{url_for('delete_event', id=event.events.id)}}">Delete
            Event</a>
    </div>
</div>


{% endblock content %}